@charset "utf-8";
/* CSS Document */
@import url("http://overpass-30e2.kxcdn.com/overpass.css");

html, body {
	margin:0 auto;
	font-size: 14px;
	height: 100%;
    font-family: "overpass";
}


h1 {
	font-size: 35px;
	font-weight: 600;
	color:#fff;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color:#2C0C52;
	text-transform: uppercase;
}

.titlecard{
	color:#fff;

}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color:#2C0C52;
	text-transform: uppercase;
}

h4 {
	font-size: 22px;
	font-weight: 100;
}

h5 {
	font-size: 18px;
	font-weight: 100;
}

h6 {
	font-size: 16px;
	font-weight: 100;
}

ul {
	text-decoration: none;
	margin:0 auto;	
	text-transform: uppercase;	
	-webkit-padding-start: 0px;
}

li {
	color: #fff;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	padding-right: 20px;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	margin: 0;
}

hr{
	margin-bottom: 15px;
	border:1px solid #fff;
}

.hrcolor{
	margin-bottom: 15px;
	border:1px solid #2C0C52;
}

nav {
	text-decoration: none;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav_principal a, .nav_secundaria a{
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	padding-right: 3px;
	font-family: 'overpass';
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav_principal{
	line-height: 75px;
	height: 75px;	
	display:inline-block;
	text-align: left;
	float: left;
	margin-left: 20px;
}

.back_full_screen_contacto{
	overflow: hidden;
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	background-image:url(../img/pruebafotocontacto.jpg);
	width:100%;
	height:100%;
	min-height:550px;
}

.back_full_screen{
	overflow: hidden;
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	background-image:url(../img/prueba1c.jpg);
	width:100%;
	height:100%;
	min-height:550px;
}

header{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
}

header.fixed{
	position: fixed;
	z-index: 1;
	background-color: #000;
}


.button-principal{
	padding: 10px 30px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	background-color: #c3a3f2;
	text-decoration: none;
	color:#281348;
	display: inline-block;
	text-transform: uppercase;
	box-sizing: border-box;
}

.logo{
	float:left;	
    line-height: 40px;    
    padding-top: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.icons{
	float:right;
	color:#fff;	
    line-height: 75px;
	padding-top: 20px;
	text-align: left;
	text-align: right;
    padding-right: 20px;
}

.icons img{
	margin-right: 10px;
}

.loginContainer{
	display: none
}

.loginContainer::after{
	    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #E3E1E1;
    bottom: -6px;    
    right: 70px;
    position: absolute;    
  }

.login{
	position: absolute;
	width: 344px;
	height: 430px;
	right: 40px;
	padding: 20px;
	margin-top: 100px;
	color: #000;
	background-color: #E3E1E1;
	box-sizing: border-box;
}

.login form , .registration form{
	margin-top: 5px;
}

.login p ,  .registration p{
	font-size: 14px;
}

.login label ,  .registration label{
	font-size: 14px;
}

#login_form input[type="text"] , #registration input[type="text"] {
	width: 100%;
	box-sizing:border-box;
	margin: 0;	
}

#login_form input[type="submit"] , #registration input[type="submit"]{
	background-color: #AF2131;
}

#login h3 , #registration h3 {
	font-size: 18;
	margin: 0;
	text-align: left;
	margin-bottom: 10px;
}

#login_form{
	margin-top: 0;
}

.register_now{
	position: absolute;
    padding: 10px;
    padding-top: 20px;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110px;
    box-sizing:border-box;
}

.btn_reg_now{
	width: 100%;
	background-color: #49494A;
	color: #fff;
	text-align: center;
}

.registration{
	position: absolute;
	width: 344px;
	height: auto;
	right: 40px;
	padding: 20px;
	margin-top: 100px;
	color: #000;
	background-color: #E3E1E1;
	box-sizing: border-box;
    display: none;
}

.registration a.back-to-login {
    color: #000;
}


.contentCopycontacto{
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-sizing: border-box;
    bottom: -103px;
}

/* ---------------------POU UP-----------------------------------------------*/

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 9999;    
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    box-sizing: border-box;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(167,14,32,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

/* ---------------------POU UP-----------------------------------------------*/

.containerred{
	width: 100%;
    position: relative;
    left: 50%;
    top: 110%;
    background-color: #AF2131;
    margin: -100px 0 -100px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 100%;
}

.contentCopy{
   	width: 500px;
    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.contentCopyTopcontacto{
	margin: 0 auto;
	border-top:4px solid #fff;
	border-right:4px solid #fff;
	border-left:4px solid #fff;
	padding-top: 30px;
	text-align: center;
	margin-bottom: 40px;
    width: 90%;
    background-color: #AF2131;
    box-sizing: border-box;
}
.contentCopyBottomcontacto{
	margin: 0 auto;
	border-bottom:4px solid #fff;
	border-right:4px solid #fff;
	border-left:4px solid #fff;
	padding-bottom: 60px;
	text-align: center;
	margin-top: 40px;
	width: 90%;
	color: #fff;
}

.contentCopyTop{
	margin: 0 auto;
	border-top:4px solid #fff;
	border-right:4px solid #fff;
	border-left:4px solid #fff;
	padding-top: 30px;
	text-align: center;
	margin-bottom: 40px;
	width: 70%;
}

.contentCopyBottom{
	margin: 0 auto;
	border-bottom:4px solid #fff;
	border-right:4px solid #fff;
	border-left:4px solid #fff;
	padding-bottom: 55px;
	text-align: center;
	margin-top: 40px;
	width: 70%;
}

.copyServices{
	width: 100%;
	text-align: center;
}

.copyServices h1{
	margin-top: 7px;
	margin-bottom: 7px;
}

.copyServices p {
	color: #fff;
	font-size: 15px;
	margin:0;

}

.sectionsPF{
	margin:0 auto;
	width: 100%;
	max-width: 1024px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    padding-top: 50px;
    padding-bottom: 70px;
}

.sectionsPF a{
	color:#000;
}

.sectionsPF h2{
	font-size: 24px;
}

.content_color{
	width: 100%;
	background-color: #D8D8D8;
}

/*steps*/

.stepNumber-item{
	position: relative;
	padding: 0px;
	width: 8.5em;
}

.stepsNumbers-list{
	counter-reset: section;
	text-transform: none;
	width: 784px;
	background-color: #D8D8D8;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
	border-radius: 0px 0px 9px 9px;
	-moz-border-radius: 0px 0px 9px 9px;
	-webkit-border-radius: 0px 0px 9px 9px;
}

.stepNumber-link{
	text-decoration: none;
	display: block;
	font-size: 0.8rem;
	color:#000;
}

.stepNumber-link:hover::before{
	background-color: #2C0C52;
	color: #fff;
}

.stepNumber-item-selected{
	background-color: #2C0C52;
	color: #fff;
}


.stepNumber-link::before{
	counter-increment: section;	
	content: counter(section) "";
	display: block;	
	text-align: center;
	border: 1px solid #000;
	border-radius: 1rem;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	margin:0 auto;
	font-weight: bold;
	margin-bottom: 0.09rem;
	color: #000;
}

.stepNumber-item::after{	
	content:'';
	border-top: 1px dashed #000;
	display: block;	
	height: 0;
	width: 5rem;
	position: absolute;
	top:1rem;
	left:6rem;	
}

.stepNumber-item:last-child::after{
	display: none;
}

.steps_fixed{
	position: fixed;
	top:92px;
	margin: 0 auto;
	z-index: 2;
	border: 1px solid #fff;	
}


/*steps*/

.info_steps{
	width: 33.333%;
	padding: 20px;
	float:left;
    box-sizing: border-box;
    font-size: 18px;
}
.info_steps h3{
    font-size: 18px;}


.result_veredict1 .result_veredict2 h3{
	font-size: 18px;
}
.result h3{
	font-size: 18px;
}

.result_veredict1{
	float:left;
	padding: 15px;
}

.result_veredict2{
	float:right;
	padding: 15px;
}

.map{
	border-top: 2px solid #2f0553;
	border-right: 2px solid #2f0553;
	border-left: 2px solid #2f0553;
	height: 70px;
	width: 75%;
	margin: 0 auto;
}

/* ambientes*/
.card {
	background-image: url(../img/masaje.jpg);
	background-position: top center;
    background-repeat: no-repeat;
    height: 600px;
    overflow: hidden;
    width: 32%;
    float: left;
    color: #fff;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-right: 2%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.card:nth-of-type(3n){
	margin-right: 0px;
}

.card_body {
	position: relative;
	top:200px;
	height: 100%;
	transition: all 0.5s ease;
}

.card:hover .card_body{
	top:0;
}

.card_price{
	background-color:#311752;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 50px;
	width: 30%;
}

.card_price_colorDiferent{
	background-color:#CBAFF5;
	color: #311751;
}

.card_price p {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.card_description{
	background-color: #311752;
	height: 100%;
	padding:32px;
	text-align: left;
}

.card_description_colorDiferent{
	background-color: #CBAFF5;
	color: #311751;
}

.card_description h2{
	margin-top: 0;
	margin-bottom: 0;
}
.card_description p{
	margin-left: 0;
}

.card_footer{
	text-align: left;
	font-size: 20px;
	position: relative;
	left: 0;
	right: 0;
	bottom: 105px;
    padding: 35px 0px 35px 35px;
	background-color: #311752;
}

.card_footer_colorDiferent{
	background-color: #CBAFF5;
}

/* ambientes*/

.card_btn{
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color:#311752;
	display: inline-block;
	background-color: #bba2cd;
	border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.card_btn_colorDiferent{
	color:#fff;
	background-color: #311751;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.card_btn:hover{
	background-color: #fff;
	color:#bba2cd;
}

.card_btn_colorDiferent:hover{
	background-color: #fff;
	color:#311752;
}

.card_btn:active{
	background-color: #991b2c;
	color:#311752;
}

.card_btn_colorDiferent:active{
	background-color: #991b2c;
	color:#000;
}

/*cards actors*/

.actors_content{
	background-image: url(../img/actor1.jpg);
	background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
	overflow: hidden;
	 float: left;
	 height: 400px;
	 width: 23%;
	 cursor: pointer;
	 margin-top: 50px;
    margin-right: 15.5%;
     box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }

.actors_nomargin{
	margin-right: 0px;
}


.ocult{
	display: none;
}

 .actors_description{
	position: relative;
    top: 100%;
    height: 100%;
    background-color: rgba(187,162, 205, 0.8);
    padding: 30px;
    transition: all 0.5s ease;
 }

 .actors_content:hover .actors_description{
	top: 0;
 }
/*cards actors*/

.btn_select_sex{
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color:#311752;
	display: inline-block;
	background-color: #bba2cd;
	border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

 input[type=radio]{
 	visibility: hidden;
 }

 input[type=radio]:checked + span{
 	content:"seleccionado";
 	background-color: #96c017;
 	background-image: url(../img/check.png);
 	background-repeat: no-repeat;
 	background-position: right;
 }

input[type="text"]{
	margin-top: 10px;
	display: block;
	padding: 10px;
	margin-bottom: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#000;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #bcbcbc;
}


textarea{
	margin-top: 10px;
	display: block;
	padding: 10px;
	margin-bottom: 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#000;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #bcbcbc;
}

textarea:focus{
	outline:0px;
	border: 1px solid #3f302f;
}

input[type="text"]:focus{
	border: 1px solid #3f302f;
	padding: 10px;
	background-color: #fff;
	color:#000;
	content: clear;
	outline:0px;
}

input[type="submit"]{
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	color:#fff;
	display: inline-block;
	background-color: #311752;
	border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

form{	
	text-align: left;
}

form p{
	margin-bottom: 10px;

}

label{
	font-size: 20px;
}

.content_form{
	background-color:#fff;
	width:auto;
	margin:0 auto;
	width: 60%;
    padding: 5%;
}

.textDetail{
	margin-top: -25px;
}

.form_steps {
	margin: 0 auto;
	font-size: 18px;
	color: #000;
	font-weight: 600;
	border-bottom: solid 2px #000;
	padding-bottom: 15px;
	padding-right: 3px;
	margin-bottom: 15px;	
	font-family: 'overpass';
	display: inherit;
    text-align: center;
    margin-bottom: 3rem;
    width: 100px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form_steps_ocult{
	display: none;
}

.content_btn_form{
	width: 100%;
	margin: 0 auto;
	text-align: right;
}
.email_sent,.payment{
	width: 50%;
	text-align: center;
	float:left;
	margin-top: 50px;
	padding: 50px 50px;
	box-sizing:border-box;
}

.payment{
	float:right;
}

.email_sent{
	border-right: 3px solid #000;
}

.email_sent img , .payment img  {
	margin-bottom: 50px;

}

.btn_pagar{
	margin-top: 50px;
	background-color: #67b244;
}

.pay a{
	color:#fff;
}

footer{
	background-color: #49494A;
	height: 200px;
	text-align: right;
}

.logoFooter{
	float: left;
	padding-left: 35px;
	padding-top: 66px;

}
.listfooter{
	line-height: 75px;
	text-decoration: none;
	height: 75px;	
	display: inline-block;
	text-align: center;	
	padding-top: 40px;
	font-size: 18px;
	text-transform: capitalize;
}


.iconsfooter{
	padding-top: 65px;
	height: 100px;
	float: right;
	padding-right: 35px;
}

.linefooter{
	background-color: #211915;
	height: 70px;
	clear: both;
}

.footercopy{
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding-top: 25px;

}

/*icon hamburguer*/

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  display: inline;
  line-height: 72px;
  display: none;

}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

/*animation*/

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*-----------------------------------------------------------------------------------------------------------1067*/
@media screen and (max-width: 1067px) {

	#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  		display: inherit;
	}

	.nav_principal{
		background: #d7d7d7;
		display: none;
		position: absolute;
		right:0;
		top:80px;
		width: 30%;
		color:#000;		
		width: 100%;
    	box-sizing:border-box;
    	max-width: 400px;
	}

	nav{
		display: none;
	}

	.nav_principal li{
		display: block;

	}

	.nav_principal a{
		color:#000;
	}

	.visible{
		display: table;
		padding: 10px;
	}

	footer{
		height: auto;
	}	

	.logoFooter {
    float: none;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 30px;
	}
	.iconsfooter {    
    float: none;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
    padding-right: 0;   
	}

	.listfooter{
	padding-top: 30px;
	line-height: 10px;
	height: auto; 
	}
}

/*-----------------------------------------------------------------------------------------------------------1024*/
@media screen and (max-width: 1024px) {

	.card{
		width: 49%;
	}

	.card:nth-of-type(3n){
		margin-right: 2%;
	}

	.card:nth-of-type(2n){
		margin-right: 0px;
	}

	.content_form{	
	width: 70%;   
	}

.email_sent,.payment{
	width: auto;
	text-align: center;
	float:none;
	margin-top: 50px;
	padding: 0px 50px;
	box-sizing:border-box;	
}

.email_sent{
	border-right: 0;
}
.sectionsPF{
		padding: 1em;
	}

}
/*-----------------------------------------------------------------------------------------------------------634*/
@media screen and (max-width: 634px) {

	li{
		display: block;
		padding-bottom: 20px;
		padding-right: 0px;
	}

	.iconsfooter{
		padding-top: 10px;
	}
}

/*-----------------------------------------------------------------------------------------------------------540*/
@media screen and (max-width: 540px) {

	.logo{
		margin-left: 5px;
	}
	.steps{
		width: auto;
	}

	.stepsNumbers {
		width: 30px;
		height: 30px;
	}

	.stepsNumbers p{
		font-size: 14px;
		line-height: 30px;
	}

	.actors_content{
		float: none;
		width: 220px;
		width: auto;
		margin: 0 auto
	}

	.content_form{	
	width: 90%;   
	}

	.email_sent{
		border-right: 0;
	}

	.form_steps {	
		font-size: 15px;	
	}

	.map{
		display: none;
	}

	.sectionsPF{
		padding: 1em;
	}

	.card{		
	    width: 100%;
	    float: none; 	   
	}

	.card:nth-of-type(3n){
		margin-right: 0pc;
	}
	
	p {
		font-size: 14px;	
		line-height: 21px;	
	}

	.copyServices p {    
   		font-size: 14px;
	}
	
	h1 {
	font-size: 25px;	
	}

	.sectionsPF h2 {	
	font-size: 20px;	
	}
	
	.contentCopy {
    width: 90%;
	}

	.contentCopyTop {
		width: 70%;
	}

	.contentCopyBottom {
		width: 70%;
	}

		.info_steps{
		width: 100%;
		float:none;
	}

	.map{
	display: none;
	}

.result_veredict1, .result_veredict2{
	float:none;
	
	}
	.card_description h2 {
		font-size: 18px;
	}

	.login{
		width: 88%;
		right: 20px;
	}

	.registration{
		width: 88%;
		right: 20px;
	}
}
