/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	float: left;	
	border: 1px	solid #2C0C52;
	box-sizing: border-box;
	margin-right: 18.3%;

}

.flip-container:last-child {
		margin-right: 0;	
}

	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, {
	 width: 40.5%;
    height: 350px;   
}

.back{
	width: 100%;
	background-color: #B3ABCE;	
    padding-bottom: 20px;
    padding-top: 5px;
}

.imageActors{
	width: 168%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.descriptionActors{
	font-size: 16px;
	font-weight: 600;
}
