.cardDejar {
	background-image: url(../../dist/img/imagen-enpersona-1.jpg);
	background-position: top center;
    background-repeat: no-repeat;
    height: 600px;    
    width: 48%;
    float: left;
    color: #fff;
    margin-top: 50px;    
    margin-right: 2%;
    overflow: hidden;    
	border-radius: 10px;
    box-sizing:border-box;    
}

.cardDejar:last-child{
	margin-right: 0px;
}

.cardDejar_body {
	position: relative;
	top:50%;		
	transition: all 0.5s ease;
}

.cardDejar_title{
	color:#99172F;
	margin-top: 0;		
}

.cardDejar_price {	
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #99172F;
	padding: 2px 0px;
	width: 60px;
	line-height: 25px;
	display: inline-block;	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.cardDejar_body {
	position: relative;
	top:250px;
	height: 100%;
	transition: all 0.5s ease;
}

.cardDejar:hover .cardDejar_body{
	top:160px;
}

.cardDejar_description{
	background-color: #fff;
	height: 100%;
	padding:30px;
	text-align: left;
	color:#381443;
	text-align: center;	
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


.cardDejar_footer{
	font-size: 20px;
	position: relative;
	left: 0;
	right: 0;
	bottom: 150px;
    padding: 35px 0px 35px 0px;
	background-color: #fff;
	color:#99172F;
}

.cardDejar_examples{
	max-width: 150px;
    margin: 0 auto;
    display: block;
	padding: 2px 20px;
	font-size: 15px;	
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	color:#99172F;
	border: 1px solid #99172F;	
	line-height: 25px;
	margin-bottom: 20px;	
	border-radius: 4px;   
    transition: all 0.5s ease;
}

.cardDejar_examples:hover{
	background-color: #D32F53;
	color:#fff;
	border: 1px solid #D32F53;
}


.cardDejar_btn:active{
	background-color: #991b2c;
	color:#311752;
}

.cardDejar_no_example{
	padding-top: 87px;
}

@media screen and (max-width: 1024px) {
	.cardDejar{
		width: 49%;
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 2%;
	}

	.cardDejar:nth-of-type(2n){
		margin-right: 0px;
	}

}
@media screen and (max-width: 540px) {
	
	.cardDejar{		
	    width: 100%;
	    float: none; 	   
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 0px;
	}

	.cardDejar_description h2 {
		font-size: 18px;
	}

}