.cardDejar {
	background-image: url(../../dist/img/imagen-enpersona-1.jpg);
	background-position: top center;
    background-repeat: no-repeat;
    height: 460px;    
    width: 40%;
    float: left;
    color: #fff;       
    margin-right: 20%;
    overflow: hidden;	
    box-sizing:border-box;    
}

.cardDejar:last-child{
	margin-right: 0px;
}

.cardDejar_body {
	position: relative;
	top:50%;		
	transition: all 0.5s ease;
}

.cardDejar_title{
	color:$colorPrincipalDejar;
	margin-top: 0;		
}

.cardDejar_price {	
	font-size: 16px;
	font-weight: 400;
	border: 1px solid $colorPrincipalDejar;
	padding: 2px 0px;
	width: 60px;
	line-height: 25px;
	display: inline-block;	
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.cardDejar_body {
	position: relative;
	top:200px;
	height: 100%;
	transition: all 0.5s ease;
}

.cardDejar:hover .cardDejar_body{
	top:80px;
}

.cardDejar_description{
	background-color: #fff;
	height: 100%;
	padding:30px;
	text-align: left;
	color:#381443;
	text-align: center;	
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


.cardDejar_footer{
	font-size: 20px;
	position: relative;
	left: 0;
	right: 0;
	bottom: 150px;
    padding: 35px 0px 35px 0px;
	background-color: #fff;
	color:$colorPrincipalDejar;
}

.cardDejar_examples{
	max-width: 150px;
    margin: 0 auto;
    display: block;
	padding: 2px 20px;
	font-size: 15px;	
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	color:$colorPrincipalDejar;
	border: 1px solid $colorPrincipalDejar;	
	line-height: 25px;
	margin-bottom: 20px;	
	border-radius: 4px;   
    transition: all 0.5s ease;
}

.cardDejar_examples:hover{
	background-color: #D32F53;
	color:#fff;
	border: 1px solid #D32F53;
}


.cardDejar_btn:active{
	background-color: #991b2c;
	color:#311752;
}

.cardDejar_no_example{
	padding-top: 87px;
}

@media screen and (max-width: 1024px) {
	.cardDejar{
		width: 49%;
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 2%;
	}

	.cardDejar:nth-of-type(2n){
		margin-right: 0px;
	}

}
@media screen and (max-width: 1023px) {
	
	.cardDejar{		
	    width: 80%;
	    float: none;
	    margin:0 auto;	   
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 0px;
	}

	.cardDejar:last-child{
		margin-right: auto;
	}

	.cardDejar_description h2 {
		font-size: 18px;
	}

}

