.cardDejar {
	background-image: url(../../dist/img/masaje.jpg);
	background-position: top center;
    background-repeat: no-repeat;
    height: 600px;    
    width: 23.5%;
    float: left;
    color: #fff;
    margin-top: 50px;    
    margin-right: 2%;
    overflow: hidden;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.cardDejar:nth-of-type(4n){
	margin-right: 0px;
}

.cardDejar_body {
	position: relative;
	top:50%;		
	transition: all 0.5s ease;
}

.cardDejar_title{
	color:#fff;
}

.cardDejar_price {	
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #99172F;
	padding: 2px 0px;
	width: 60px;	
	display: inline-block;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.cardDejar_body {
	position: relative;
	top:250px;
	height: 100%;
	transition: all 0.5s ease;
}

.cardDejar:hover .cardDejar_body{
	top:160px;
}

.cardDejar_description{
	background-color: #fff;
	height: 100%;
	padding:30px;
	text-align: left;
	color:#381443;
	text-align: center;	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.cardDejar_description h2{
	margin-top: 0;	
	text-transform: none;
	color:#381443;	
}

.cardDejar_footer{
	font-size: 20px;
	position: relative;
	left: 0;
	right: 0;
	bottom: 150px;
    padding: 35px 0px 35px 0px;
	background-color: #fff;
	color:#99172F;
}

.cardDejar_btn{
	padding: 2px 20px;
	font-size: 16px;	
	font-weight: 100;
	cursor: pointer;
	text-decoration: none;
	color:#fff;
	border: 1px solid #99172F;
	display: inline-block;
	line-height: 25px;
	background-color: #99172F;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cardDejar_btn:hover{
	background-color: #D32F53;
	color:#fff;
	border: 1px solid #D32F53;
}

.cardDejar_examples{
	max-width: 150px;
    margin: 0 auto;
    display: block;
	padding: 2px 20px;
	font-size: 15px;	
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	color:#99172F;
	border: 1px solid #99172F;	
	line-height: 25px;
	margin-bottom: 20px;	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cardDejar_examples:hover{
	background-color: #D32F53;
	color:#fff;
	border: 1px solid #D32F53;
}


.cardDejar_btn:active{
	background-color: #991b2c;
	color:#311752;
}

@media screen and (max-width: 1024px) {
	.cardDejar{
		width: 49%;
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 2%;
	}

	.cardDejar:nth-of-type(2n){
		margin-right: 0px;
	}

}
@media screen and (max-width: 540px) {
	
	.cardDejar{		
	    width: 100%;
	    float: none; 	   
	}

	.cardDejar:nth-of-type(3n){
		margin-right: 0px;
	}

	.cardDejar_description h2 {
		font-size: 18px;
	}

}