.contentCopyContacto{
	max-width: 740px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	padding-left: 1em;
	padding-right: 1em;
}

.copyContacto{	
    margin-bottom: 30px;
    color: #831D31;
    font-size: 35px;
    font-weight: 500;
}
.contactoDescription{
	color: #000;
	margin-bottom: 30px;
}




@media screen and (max-width: 540px) {


}

@media screen and (max-width: 380px) {
	
}

@media screen and (max-width: 368px) {
	
	}


@media screen and (max-width: 330px) {
	}