.contentCopyContacto, .contentCopyContactoSent{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	padding-left: 1em;
	padding-right: 1em;
}

.contentCopyContactoSent{
	max-width: 800px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.copyContacto{	
    margin-bottom: 30px;
    color: #F7A627;
    font-size: 37px;
    font-weight: 500;
}

.copyContacto:first-child{
	margin-top: 0px;
}

.contactoDescription{
	color: #fff;
	margin-bottom: 30px;
}

.sectionContactForm label{
	color:#fff;
}



@media screen and (max-width: 699px) {

	.copyContacto{	  
    font-size: 20px;    
	}

	.contentCopyContactoSent{
		position: initial;
		transform: translateY(0%);
		margin-top: 20px;
	}

}

@media screen and (max-width: 380px) {
	
}

@media screen and (max-width: 368px) {
	
	}


@media screen and (max-width: 330px) {
	}