footer{
	background-color: #49494A;
	height: 105px;
	text-align: right;
	clear: both;
}

.logoFooter{
	float: left;
	padding-left: 100px;
	padding-top: 30px;

}
.listfooter{
	line-height: 100px;
	text-decoration: none;		
	display: inline-block;
	text-align: center;	
	font-size: 18px;
	text-transform: capitalize;
	padding-right: 100px;
}


/*.iconsfooter{
	padding-top: 65px;
	height: 100px;
	float: right;
	padding-right: 35px;
}*/

.linefooter{
	background-color: #211915;
	height: 70px;
	clear: both;
}

.footercopy{
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding-top: 25px;

}

@media screen and (max-width: 1067px) {
	footer{
		height: auto;
		text-align: center;
	}	

	.logoFooter {
    float: none;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 30px;
	}
	
	/*.iconsfooter {    
    float: none;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
    padding-right: 0;   
	}*/

	.listfooter{
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 10px;
	height: auto;
	padding-right: 0;
	}
}

@media screen and (max-width: 634px) {

	.iconsfooter{
		padding-top: 10px;
	}
}