html, body {
	margin:0 auto;
	font-size: 14px;
	height: 100%;
    font-family: 'Open Sans', sans-serif;
}

/*
h1 {
	font-size: 35px;
	font-weight: 600;
	color:#fff;	
}
*/
/*h2 {		
	
	font-weight: 600;
	color:#2C0C52;	
}*/

h1,h2{
	font-family: 'Open Sans', sans-serif;
}


/*h3 {	
	font-size: 24px;
	font-weight: 500;
	color:#2C0C52;	
}*/

h4 {
	font-size: 22px;
	font-weight: 100;
}

h5 {
	font-size: 18px;
	font-weight: 100;
}

h6 {
	font-size: 16px;
	font-weight: 100;
}

ul {
	/*text-decoration: none;*/
	/*margin:0 auto;*/	
	/*text-transform: uppercase;*/	
	-webkit-padding-start: 0px;
}

/*li {
	color: #fff;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	padding-right: 20px;
}*/

p {
	/*font-size: 14px;*/
	line-height: 25px;
	margin: 0;
}

.lineSeparator{
	
	border: 1px solid #fff;
	width: 60%;
	margin-top: 0;
	margin-bottom: 35px;
}

.ocult{
	display: none;
}

.bg_body_home{
	background-color: #F0F0F1;
}

.yourSelection{	
	background-color: #EEEEEE;
	width: 280px;
	margin:0 auto;
	box-sizing:border-box;
	border: 1px solid #999899;
	display: none;
	position: absolute;
	right: -280px;
	position: fixed;
    top: 50%;
    z-index: 1;
}

.close{
	display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    top: -1px;
    width: 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    right: 0;
    z-index: 2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.close a {
	color: #fff;
	text-decoration: none;
}

.yourSelectionHeader{
	    background-color: #000;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    right: 1px;
    top: -1px;
    width: 280px;
}

.yourSelectionItem{
	font-size: 12px;
	font-weight: 600;
	line-height: 25px;	 
	list-style:none;
	padding: 1em;	
    overflow: hidden;
}

.resumeImg{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

.yourSelectionItemPrice{
	float: right;
    position: absolute;
    right: 12px;    
}

.yourSelectionResumePrice{
	list-style:none;
	text-align: right;
	font-size: 14px;
	border-top: 1px solid #999899;
	padding-top: 1em;
	padding-right: 1em;
	font-weight: 600;    
}

.clearFix{
	clear: both;
}

@media screen and (max-width: 634px) {

		/*li{
		display: block;
		padding: 0;
	}*/
}

@media screen and (max-width: 540px) {

	p {
		font-size: 14px;	
		line-height: 21px;	
	}

	h1 {
	font-size: 25px;	
	}

}

