.content_copy_home{
   	width: 514px;
    position: relative;
   	margin-left: 350px; 
   	margin-top: 242px; 
    transform: translate(-50%, -50%); 
    float: left;   
}

.services_copy_home h1{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 36px;
	text-transform: none;	
	font-weight: 500;
	color:#000;
	text-align: left;	
}

@media screen and (max-width: 648px) {
.content_copy_home{
    	margin-left: 304px; 
  }}

@media screen and (max-width: 803px) {
.content_copy_home{
    	margin-left: 312px; 
  }}

  @media screen and (max-width: 543px) {
.content_copy_home{
    	margin-left: 312px; 
  }}
@media screen and (max-width: 919px) {
.content_copy_home{
      margin-left: 300px;
      width:96%
  }
 .homeUiLineSeparator{
 	width: 401px;

}}



.homeCopy{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 45px;
	text-transform: none;
	color: #000;

}
.services_copy_home p {
	color: #000;
	font-size: 17px;
	margin:0;
	line-height: 35px;	
	
}

.homeUiLineSeparator{
	width: 80%;
	border: 1px solid #000;
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 11px;
}


@media screen and (max-width: 540px) {

	.content_copy_home{
	
	}
	.homeUiLineSeparator{
	width: 305px;
	
}
}

