.home_services_Pf, .home_services_Dejar{
	overflow: hidden;	
	background-repeat: no-repeat;
	background-size: cover;	
	width: 100%;
	height: 424px;   
	box-sizing: border-box;	
}

.home_services_Pf{
	background-image:url(../../dist/img/servicePfHome.jpg);
	background-position: center left;
	

}

.home_services_Dejar{
	background-image:url(../../dist/img/serviceDejarHome.jpg);
	background-position: center right;
	
}

.homeServicesCopiesPf, .homeServicesCopiesDejar{
	max-width: 500px;
    margin-top: 78px;
    margin-bottom: 78px;
	
}

.homeServicesCopiesPf{
	margin-left: 10%;
	float: left;	
}

.homeServicesCopiesDejar{
	margin-right: 10%;
	float: right;

}


.servicesTitle{
	font-size: 18px;
	color: #fff;
	font-weight: 400;

}

.servicesDescription{
	font-size: 35px;
	color: #fff;
	font-weight: 400;
	line-height: 42px;	
}

.marginBottom{
	margin-bottom: 30px;
}

.marginTop {
	margin-top: 30px;
}

.references{
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;

}

.referencesTitle{
	font-size: 20px;
	color: #6E6E6E;
	font-weight: 400;
	margin-top: 60px;

}

.referemcesImg{
	margin-right: 4%;
	margin-top: 10px;
	margin-bottom: 60px;
}

.referemcesImg:last-child{
	margin-right: 0;
}
.uiSeparatorHomeServices{
	border: 1px solid #fff;
	width: 73px;
	display: inline-block;
}



@media screen and (max-width: 740px) {

	.referemcesImg:nth-child(4){
		margin-right: 0;
	}


	.referemcesImg{
		margin-right: 10%;
		margin-top: 10px;
		margin-bottom: 60px;
	}	

}


@media screen and (max-width: 580px) {

	.homeServicesCopiesPf, .homeServicesCopiesDejar{				
		width: 100%;
		margin-top: 350px;
		padding: 50px 2em 50px 2em;
		max-width: 100%;
		margin-bottom: 0;
		box-sizing: border-box;
	}

	.servicesDescription{
		font-size: 24px;
		line-height: 28px;
	}

	.servicesTitle{
		font-size: 14px;

	}


	.homeServicesCopiesPf{
		background-color: #381443;
		margin-left: 0;
		float: none;
	}

	.homeServicesCopiesDejar{
		text-align: right;
		margin-right: 0;
		background-color: #831D31;
	}

	.home_services_Pf, .home_services_Dejar{
		height: auto;

	}

	.home_services_Pf, .home_services_Dejar{
		background-position: top center;
		background-size: initial;
	}
}



@media screen and (max-width: 480px) {

	.referemcesImg:nth-child(4){
		margin-right: 0;
	}

	.referemcesImg:nth-child(3){
		margin-right: 10%;
	}

}

@media screen and (max-width: 471px) {

	.referemcesImg:nth-child(4){
		margin-right: 10%;
	}

	.referemcesImg:nth-child(3){
		margin-right: 0;
	}

	.referemcesImg:nth-child(5){
		margin-right: 0;
	}


	.referemcesImg:nth-child(6){
		display: block;
		margin: 0 auto;
		margin-bottom: 60px;

	}


}