nav {
	text-decoration: none;	
	transition: all 0.5s ease;
}

.nav_principal a, .nav_secundaria a{
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	padding-right: 3px;	
	transition: all 0.5s ease;
}

.nav_principal{
	line-height: 30px;
	height: 75px;	
	display:inline-block;
	text-align: right;
	float: left;
	margin-left: 20px;
}

@media screen and (max-width: 1067px) {
	.nav_principal{
		background: #000;
		display: none;
		position: absolute;
		right:0;
		top:50px;
		width: 30%;
		color:#000;		
		width: 100%;
    	box-sizing:border-box;
    	z-index: -1;
    	padding-right: 10px;
		padding-left: 10px;
		line-height: 75px;   	
	}

	.nav_principal::before{
		content: "";
    	width: 106px;
    	height: 80px;
    	background-color: #000;
    	position: absolute;
    	right: 0;
    	top: -79px;	   	
	}

	nav{
		display: none;
	}

	.nav_principal li{
		display: block;
		border-bottom: 1px solid #fff;			
		padding: 0px 10px 0px 0px;
	}

	.nav_principal li:last-child{

		border-bottom: 0;
	}


	.visible{
		display: table;
		
	}

	.icon_register_desktop{
		display: none;
	}

}
@media screen and (min-width: 1068px) {
	
	.icon_register_mobile{
		display: none;
	}


}


