nav {
	text-decoration: none;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav_principal a, .nav_secundaria a{
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	padding-right: 3px;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav_principal{
	line-height: 75px;
	height: 75px;	
	display:inline-block;
	text-align: left;
	float: left;
	margin-left: 20px;
}

@media screen and (max-width: 1067px) {
	.nav_principal{
		background: #d7d7d7;
		display: none;
		position: absolute;
		right:0;
		top:80px;
		width: 30%;
		color:#000;		
		width: 100%;
    	box-sizing:border-box;
    	max-width: 400px;
	}

	nav{
		display: none;
	}

	.nav_principal li{
		display: block;

	}

	.nav_principal a{
		color:#000;
	}

	.visible{
		display: table;
		padding: 10px;
	}
}