.dejar_email_sent{
	width: 50%;
	text-align: center;	
	margin-top: 50px;
	padding: 50px 50px;
	margin: 0 auto;
	box-sizing:border-box;
}


.dejar_email_sent img {
	margin-bottom: 15px;

}

.itemStepsDejar--Checked{
	background-color: $colorPrincipalDejar;

}

.titleSlidersDejar{
	color:#000;
	position: absolute;
	right: 0;
	left: 0;
	top: 80px;
	z-index: 0;
}

@media screen and (max-width: 1024px) {

	.dejar_email_sent{
		width: auto;
		text-align: center;
		float:none;
		margin-top: 50px;
		padding: 0px 50px;
		box-sizing:border-box;	
	}

	
}

@media screen and (max-width: 856px) {	

	.titleSlidersDejar{
		top: 163px;
		z-index: 10; 
	} 
}

@media screen and (max-width: 540px) {

	.dejar_email_sent{
		border-right: 0;
	}
}