.email_sent,.payment{
	width: 50%;
	text-align: center;
	float:left;
	margin-top: 50px;
	padding: 50px 50px;
	box-sizing:border-box;
}

.payment{
	float:right;
}

.email_sent{
	border-right: 3px solid #000;
}

.email_sent img , .payment img  {
	margin-bottom: 15px;
}


@media screen and (max-width: 1024px) {

	.email_sent,.payment{
		width: auto;
		text-align: center;
		float:none;
		margin-top: 50px;
		padding: 0px 50px;
		box-sizing:border-box;	
	}

	.email_sent{
		border-right: 0;
	}
}

@media screen and (max-width: 540px) {

	.email_sent{
		border-right: 0;
	}
}