.full_screen_dejar{
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background: 
	linear-gradient(to right, rgba(130,30,50,1) 0%, rgba(231,56,39,0) 100%), url(../../dist/img/1343735.jpg);
	width: 100%;
	height: 100%;
	min-height: 550px;
}



.full_screen{
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: 
	linear-gradient(to right, rgba(43,12,82,0.86) 0%, rgba(239,1,124,0) 100%), url(../../dist/img/1343735.jpg);
	width: 100%;
	height: 100%;
	min-height: 550px;


}

.textportada{
	margin-top: 7px;
	margin-bottom: 24px;
	color:#fff;
	font-size: 50px;
	font-weight: 500;
	font-family: 'PT Serif', serif;
	line-height: 70px;

}

.contentportada{
	width: 400px;
	position: relative;
	left: 24%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	float:left;
}

.portadaline{
	width:40%;
	border: 1px solid #fff;
	margin-left: 0%;
	margin-right: 50%

}

.textinfo{
	margin-top: 24px;
	margin-bottom: 33px;
	color:#fff;
	font-size: 16px;
	font-family: 'Open Sans', serif;
	

}
.btn_text_simple{
	padding-left: 30px;
	text-decoration: underline;
	color: #fff;
	font-size: 15px;
}
.infophrase{
	width:30%;
	height:100%;
	float:right;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url(../../dist/img/prruebavioleta.jpg);
	text-align: center;
	padding: 1em;
	box-sizing: border-box;
}

.eye_icon{
	margin-top: 210px;
	margin-bottom: 40px;
	width: 20%;
}

.info_p_text{
	font-size: 25px;
	font-family: 'Open Sans', serif;
	color:#fff;
	line-height: 50px;


}

@media screen and (max-width: 930px) {

	.contentportada{
		margin-left:61px;
	} 
}

@media screen and (max-width: 714px) {

	.contentportada{
		width: 50%;
	} 
}

@media screen and (max-width: 650px) {

	.full_screen{
		background-image: 
		linear-gradient(to right, rgba(43,12,82,0.86) 0%, rgba(239,1,124,0) 100%), url(../../dist/img/mobileprueba.jpg);
		height: 100%;
	}

	.contentportada{
		float: none;
		width: 100%;
		margin-top: 50px;
		transform: translate(0%, 0%);
		position: initial;
		margin-left: 0px;
		padding: 36px 44px;
		box-sizing: border-box;
		height: 50%
	}
	.infophrase{
		float: none;
		width: 100%;
		height: 50%;
		margin-top: 36%;
	}
	.eye_icon{
		margin-top: 50px;	
	}
	.textinfo{
		margin-bottom: 24px;
	}
}
@media screen and (max-width: 404px) {
.btn_text_simple{
	display: block;
	padding-left: 0;
	padding-top: 10px;
}
}

@media screen and (max-width: 325px) {
	.contentportada{
		padding: 20px 25px;
	}
}