.listSteps{
	margin:0;
	list-style: none;	
}

.itemSteps{
	line-height: 100px;	
	color: #fff;
	font-size: 16px;
	background-color: #565656;
	border-bottom: 1px solid #000;
	padding-left: 5%;
}

.itemSteps span:hover .itemSteps{
  cursor: pointer;

  background-color: #2C0C52;
}


.itemSteps:last-child{
	background-color: #fff;
	color:#000;
	text-align: center;
	padding-left: 0;
	border-bottom: 0;
}

.styled-checkbox {
  opacity: 0;
  filter: alpha(opacity=0);
}

.styled-checkbox + label:before,
.lt-ie8 .checkbox-replacement {
  content: '';
  display: inline-block;
  line-height: 1;    
  text-align: center;
    /* Put checkbox styles here: */
    border: 2px solid #fff;
    width: 20px;
    height: 22px;
    margin-right: 6px;
    

  }
  .styled-checkbox:checked + label:before,
  .lt-ie9 .styled-checkbox.checked + label:before {
    content: '✔';
    font-size: 20px;
  }

  .titleSlidersAmbient, .titleSlidersActors{
    color:#000;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1  
  }

  .titleSlidersActors{
    top: 80px;
  }

  .titleSlidersAmbient{
  top: 80px;
 }

 .listItemStepsArrow{
   margin-right: 7%;    
   float: right;
 }

 .finishStepsPF{
  text-align: center;    
}

.titleFinishSteps, .titleFinishDejarSteps{
  font-size:36px;
  color:#2C0C52;
  line-height: 45px;
}

.titleFinishSteps{
  color:#2C0C52;
}

.titleFinishDejarSteps{  
  color:#99172F;  
}

.descriptionsPF{
  color:#000;
  font-size: 29px;
}

.itemSteps--Checked{
 background-color: #2C0C52;
}



#mujeres{
  display: none;
}

#hombres{
  display: block;
}



/*--SLIDES-----------------------------------------*/
.slideshow, .slideshowM, .slideshowMu, .slideshowA, .slideshowD {
  width: 100%;
  height: 542px;  
  background: black;  
  right: 0;
  top:0px;    
  background-color: #DBDBDB;  
  box-sizing:border-box;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 780px;
  margin: 0 auto;
}
.slideshowActors{
  top: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}


.slideshow .slides, .slideshowM .slidesM, .slideshowMu .slidesMu, .slideshowA .slidesA, .slideshowD .slidesD {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  padding: 0;
}

.slides ul, .slidesM ul, .slidesMu ul,.slidesA ul, .slidesD ul {  
  line-height: 0px;
}

.slides li, .slidesM li, .slidesMu li, .slidesA li, .slidesD li {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  line-height: 0px;
  font-size: 14px;
  list-style: none;
}

.prev,
.next,
.prevM,
.nextM,
.prevMu,
.nextMu,
.prevA,
.nextA,
.prevD,
.nextD     {
  color: #2C0C52;
  position: absolute;
  top: 40%;
  z-index: 1;
  font-size: 3em;  
  padding: 10px 5px; 
  transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.prevD,
.nextD   {
   color: #99172F;
}

.prev:hover,
.next:hover,
.prevM:hover,
.nextM:hover,
.prevMu:hover,
.nextMu:hover,
.prevA:hover,
.nextA:hover,
.prevD:hover,
.nextD:hover    {
  opacity: 0.6;
  cursor: pointer;
}

.prev, .prevM, .prevMu, .prevA, .prevD {
  left: 0;
}

.next, .nextM, .nextMu, .nextA, .nextD  {
  right: 0;
}

.nav, .navM, .navMu, .navA, .navD {
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  width: 100px;
  list-style: none;
}

.navD {
  bottom: -51px;
   width: 54px;
}

.navA{
 bottom: 7px;
}


.navM, .navMu, {
	width: 43px;	
}

.navA{
  width: 159px;
}

.nav{
	width: 72px;	
}


.nav li, .navM li, .navMu li, .navA li, .navD li {
  float: left;
  margin-right: 15px;
  width: 10px;
  height: 10px;
  border: 2px solid #2C0C52;
  border-radius: 10px;
  transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
}

.navD li {
     border: 2px solid #99172F;
}

.nav li:last-child, .navM li:last-child, .navMu li:last-child, .navA li:last-child, .navD li:last-child{
  margin-right: 0;
}


.nav li:hover, .navM li:hover, .navMu li:hover, .navA li:hover, .navD li:hover {
  background-color: #2C0C52;
  cursor: pointer;
}

.navD li:hover{
   background-color: #99172F;
}

.active-cd, .activeM-cd, .activeMu-cd, .activeA-cd, .activeD-cd {
  background-color: #2C0C52;
}

.activeD-cd{
  background-color: #99172F;
}

.info {
  text-align: center;
  color: #787878;
}

@media screen and (max-width: 1023px) {  
  .navM, .navMu{
    width: 101px;
  }

}

@media screen and (max-width: 979px) {	
	.itemSteps{		
		font-size: 14px;		
	}
}

@media screen and (max-width: 856px) {	
  .listSteps{
    text-align: center;
  }	

  .itemSteps{			
   padding-left: 0;	
 }

 .listItemStepsArrow{
  float:none;
}

.slideshow, .slideshowM, .slideshowA{
  margin-top:0;
  transform: translateY(0%);
  max-width: 465px;
}

.nav, .navM {    
 bottom: 6px;
}
.titleSlidersAmbient{
  top: 163px;
  z-index: 10; 
} 

.titleSlidersActors{
  top:300px;
}

}
@media screen and (max-width: 671px) {

.titleFinishSteps{
  font-size:30px;
 
}

.descriptionsPF{
  
  font-size: 20px;
}
}
