.desc_p{
  margin-bottom: 20px;
  color: #fff;
}

.cite{
	width: 100%;
	clear: both;
	text-align: center;
	margin-top: 50px;
	display: inline-block;
	
}

.citeText {
	font-size: 26px;
	line-height: 35px;
	color:#fff;	
	margin: 0;
}

.members{
	float: left;
	width: 33.333333%;
	padding: 10px;
	padding-right: 5%;
	margin-top: 20px;
	box-sizing:border-box;
}

.members:last-child{	
	padding-right: 0;
	
}

.rol_title{
	font-size: 30px;
}

.members_img{
	margin-top: 40px;
	width: 200px;
	border-radius: 500px;	
}

@media screen and (max-width: 940px) {

	.members{
	    float:none;
	    margin: 0 auto;	    
	    width: 300px;
   }

	.members:last-child {   	
	    margin-right: auto;
	}

}

@media screen and (max-width: 768px) {

  .citeText {
  font-size: 24px; 
}

  }

@media screen and (max-width: 620px) {

  .members{
    float:none;
    width: 300px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 340px) {
  
  .members{
    width: 100%;
  }

}