.container_copy_whatdo{
	float: left;
    width: 70%;
    box-sizing: border-box;
    padding-top: 50px;
    height: 100%;
    background-repeat: no-repeat;
	background-size: cover;
	background-image:url(../../dist/img/bg-que-hacemos.png);
	min-height: 727px;
       
}

.whatoDoTitle{
    margin-bottom: 30px;
    color: #F7A627;
    font-size: 35px;    
}


@media screen and (max-width: 955px) { 
    .container_copy_whatdo{
         width: 60%;
    }
}

@media screen and (max-width: 720px) { 
   .container_copy_whatdo{
       width: 100%;
        height: auto;
    }
}