
.homeServices{
	margin:0 auto;
	width: 100%;	
	box-sizing: border-box;
	text-align: left;
	overflow: hidden;
	vertical-align: middle;	   
	background-color: #fff;	
}


.sectionsDescriptions{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 25px;
}

.sectionsPFSteps, .sectionsPF, .sectionDejar, .section_pasarela, .sectionsPfForm, .sectionActors, .sectionsDejarForm {
	margin:0 auto;
	width: 100%;
	max-width: 1024px;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 70px;
}

.sectionsPF, .sectionsPfForm, .sectionActors, .sectionsDejarForm{
	max-width: 800px;
}


.section_pasarela{
	padding-top: 100px;
	padding-left: 1em;
	padding-right: 1em;
}

.section_pasarela h1{
	color:#000;
	
}

.sectionContactForm{
	max-width: 500px;	
	margin: 0 auto;	
	padding: 0 1em 3em;
}

.sectionContactoCanals{
	max-width: 740px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	overflow: hidden;

}

.contentsectionContactoCanalsBg{
	padding-top: 50px;
	padding-bottom: 50px;  
	background-color: #EFEFEF;
	width: 100%;
}

.titleInfoPf{
	font-size: 24px;
	font-weight: 600;
	color:#2C0C52;	
}

.titleInfoDejar{
	font-size: 24px;
	color:#99172F;
}

.content_color_pf{
	width: 100%;
	background-color: #D8D8D8;
}

.content_color_dejar{
	width: 100%;
	background-color: #F1F1F1;
}

.content_desc_whatdo{
	max-width: 950px;	
	margin: 0 auto;	
	padding: 0 3em 3em;
	overflow: hidden;
	text-align: center;
}

.whatdo_desc_left, .whatdo_desc_right{
	width: 47%;
	box-sizing: border-box;
}

.team{
	background-color: #f1f1f2;
	padding-left: 13em;
	padding-right: 13em;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	overflow: hidden;
}


@media screen and (max-width: 1280px) {	

	.team{

		padding-left: 6em;
		padding-right: 6em;

	}

}

@media screen and (max-width: 1024px) {	

	.sectionsPF, .sectionDejar{
		padding-right: 1em;
		padding-left: 1em;			
	}

	.sectionsPF, .sectionDejar{
		max-width: 600px;
	}
	

}

@media screen and (max-width: 800px) {

	.sectionActors{
		max-width: 400px;
	}

}

@media screen and (max-width: 768px) {

	.teamTitle{	
		font-size: 30px;		
	}	
}


@media screen and (max-width: 650px) {

	.whatdo_desc_left, .whatdo_desc_right {
		float: none;
		width: 100%;

	}

	.team{
		padding-left: 1em;
		padding-right: 1em;
	}

}

@media screen and (max-width: 540px) {

	.sectionsPF, .sectionDejar, .sectionsPFSteps{
		padding-right: 1em;
		padding-left: 1em;
		max-width: 310px;
	}

	.sectionsPF h2, .sectionDejar h2 {	
		font-size: 20px;	
	}



	.content_desc_whatdo{
		padding: 0 2em 2em;

	}

}