.yourSelection{	
	background-color: #EEEEEE;
	width: 280px;
	margin:0 auto;
	box-sizing:border-box;
	border: 1px solid #999899;
	display: none;
	position: absolute;
	right: -280px;
	position: fixed;
    top: 50%;
    z-index: 1;
}

.close{
	display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    top: -1px;
    width: 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    right: 279px;
    z-index: 2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.close a {
	color: #fff;
	text-decoration: none;
}

.yourSelectionHeader{
	    background-color: #000;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    right: 1px;
    top: -1px;
    width: 280px;
}

.yourSelectionItem{
	font-size: 12px;
	font-weight: 600;
	line-height: 25px;	 
	list-style:none;
	padding: 1em;	
    overflow: hidden;
}

.resumeImg{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

.yourSelectionItemPrice{
	float: right;
    position: absolute;
    right: 12px;    
}

.yourSelectionResumePrice{
	list-style:none;
	text-align: right;
	font-size: 14px;
	border-top: 1px solid #999899;
	padding-top: 1em;
	padding-right: 1em;
	font-weight: 600;    
}